<h1>Create New Artist</h1> <br>
<%= form_for(@artist) do |f| %> <br>
<label>Artist Name</label> <br>
<%= f.text_field :name %> <br>
<label>Artist Bio</label> <br>
<%= f.text_area :bio %> <br>
<%= f.submit %>
<%end%>